--
-- PostgreSQL database dump
--

\restrict HMSUX7tF7D1pmccM1LOmaxN3hVPI1esupHd8xq7sPuIbX5XDJW2CXJ7Ff1Pr3Da

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: trainshop
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text NOT NULL,
    price_cents integer NOT NULL,
    stock integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.products OWNER TO trainshop;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: trainshop
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO trainshop;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: trainshop
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: trainshop
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: trainshop
--

COPY public.products (id, name, description, price_cents, stock) FROM stdin;
1	Billet Lyon ÔåÆ Paris	Trajet direct pour d├®couvrir Docker.	4500	20
2	Billet Lyon ÔåÆ Marseille	Trajet pour un atelier DevOps.	3900	15
3	Guide Docker d├®butant	Support p├®dagogique pour comprendre les conteneurs.	1900	50
4	Pack GitHub Actions	Pack fictif pour apprendre la CI/CD.	2900	30
\.


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: trainshop
--

SELECT pg_catalog.setval('public.products_id_seq', 4, true);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: trainshop
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict HMSUX7tF7D1pmccM1LOmaxN3hVPI1esupHd8xq7sPuIbX5XDJW2CXJ7Ff1Pr3Da

